body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.exerciseTitle{
    font-size: 40px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#exerciseHeader {
    margin: 25px;
    border-radius: 15px;
    border: 1px solid #dddddd;
    background-color: white;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    grid-template-areas:
    'deadlineInfo difficultyInfo statusInfo filesInfo filesInfo filesInfo empty empty'
    'line1 line1 line1 line1 line1 line1 line1 line1'
    'deadline difficulty status files files files send send';

}

#exerciseHeader > div {
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;

}



#deadlineInfo {
    grid-area: deadlineInfo;

}

#deadline {
    grid-area: deadline;

}

#difficultyInfo {
    grid-area: difficultyInfo;

}

#difficulty {
    grid-area: difficulty;


}

#statusInfo {
    grid-area: statusInfo;
}

#status {
    grid-area: status;
}

#selectFilesInfo {
    grid-area: filesInfo;

}

#selectFiles {
    grid-area: files;

}
#selectFiles > div {
    border-radius: 10px;

    margin: 10px;
    height: 80px;
    width: 100%;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;

}
#selectFiles >div > button {
    font-size: 20px;
    border-radius: 10px;

    border: none;
    color: white;
    background-color: #666666;
    outline: none;
    padding: 10px;

}
#selectFiles >div > button:hover{
    background-color: #808080;


}

#send {
    grid-area: send;
    vertical-align: middle;

}

#send button {
    background-color: #00cc00;
    color: white;
    font-size: 22px;
    border-radius: 10px;
    border: none;
    width: 45%;
    height: 60%;
    position: relative;
    outline: none;
}

#send button:hover {
    background-color: #00e600;
}

.decorateLine1{
    grid-area: line1;
    height: 1px;
    background-color: #cccccc;
}

header{
    height:75px;
    margin: 0px;
    background-color: #5286E8 ;
}
.leftBox{
    float:left;

    text-align:center;
    line-height: 75px;
    width: 50%;
}
.rightBox{

    float: right;
    text-align:center;
    line-height: 75px;
    width: 50%;
}
.header_logo{
    vertical-align: middle;
}
.header_text{
    vertical-align: middle;
    padding-right: 10px;
    color: #f1f1f1;
}
.arrow-down
{
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid #FFFFFF;
}
table {
    border-spacing: 0px;

}



a{
    text-decoration: none;
}
a:hover{
    text-decoration-line: underline;
}

.exerciseInfo {
    border-radius: 15px;
    height: 100%;
    border: 1px solid #dddddd;
    margin: 25px;

}
.exerciseInfo h1 {
    margin-left: 25px;
}
.exerciseInfo h2 {
    margin-left: 25px;
}
.exerciseInfo h3 {
    margin-left: 25px;
}
.exerciseInfo p {
    margin:25px;
}
#hints ul {
    display: none;
}
#hints button{
    margin-left:25px;
    margin-bottom:10px;
    background-color: white;
    border: none;
    outline: none;
}
