body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 75px;
    margin: 0px;
    background-color: #5286E8;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
}

.leftBox {
    float: left;

    text-align: center;
    line-height: 75px;
    width: 50%;
}

.rightBox {

    float: right;
    text-align: center;
    line-height: 75px;
    width: 50%;
}

.header_logo {
    vertical-align: middle;
}

.header_text {
    vertical-align: middle;
    padding-right: 10px;
    color: #f1f1f1;
}

.arrow-down {
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid #FFFFFF;
}

table {
    border-spacing: 0px;
}

.groupsTitle {
    font-size: 40px;
    float: left;

}

.groupsMain {
    border-radius: 15px;
    height: 100%;
    border: 1px solid #dddddd;
    margin-inline: 50px;
    padding: 25px;
}

#listOfGroups {
    list-style-type: none;

}

#listOfGroups li {
    border: 1px solid #dddddd;
    border-radius: 15px;
    margin-top: 25px;
    margin-inline: auto;
    padding: 25px;
    width: 80em;
    position: center;
}

.listElement {
    display: none;
    animation-name: slide;
    animation-duration: 0.2s;
    height: 100%;
    overflow: hidden;
    background-color: #e6f2ff;
}

@keyframes slide {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }

}
.GroupName{
    margin-left: 50px;
    float: left;
}
.Teacher{
    vertical-align:top;
    margin-left: auto;
    margin-right: 50px;

    float:right;
    display:inline-block;

}
.TitleDiv{
    overflow: hidden;
    margin: 50px;
    width:auto;
    display:flex;
    align-items: center;
}
#Join{
    vertical-align: middle;
    float:right;
    margin-left: auto;
    padding: 10px 50px;
    background-color: #00cc00;
    color: white;
    font-size: 22px;
    border-radius: 10px;
    border: none;
    outline: none;
}
